/* Styles for the App component */
.app {
  background-color: #e6e6e6;
  min-height: 100vh;
  text-align: center;
  color: #fdefc0;
}

.app-header {
  background-color: #4f3eae;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-cards-container {
  display: grid;
  width: 100%;
  max-width: 1000px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.app-card {
  border: 1px solid #341bbe;
  color: black;
  border-radius: 1rem;
  padding: 1rem;
  height: auto;
  background-color: #dcd7fb;
}

.app-card-title {
  padding-bottom: 1rem;
  color: #341bbe;
  font-size: 1.2rem;
  text-align: left;
  font-style: italic;
}

.app-card-details {
  font-size: 0.8rem;
  text-align: left;
  padding-bottom: 1rem;
  color: rgb(80, 80, 80);
  white-space: pre-wrap; /* Ensures line breaks and spaces are preserved */
  word-wrap: break-word; /* Optional: Prevents long words from breaking layout */
}

.app-textarea-title {
  padding-bottom: 1rem;
  color: #341bbe;
  width: 90%;
  font-size: 1.2rem;
  text-align: left;
  font-style: italic;
}

.app-textarea-details {
  font-size: 0.8rem;
  width: 90%;

  text-align: left;
  padding-bottom: 1rem;
  color: rgb(80, 80, 80);
}
.app-card-date {
  font-size: xx-small;
  color: rgb(128, 128, 128);
  text-align: right;
  margin-bottom: 0.5rem;
}

/* BUTTONS -------------------------------------------- */
.app-cards-btns-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.app-btn {
  all: unset; /* Removes all default styling */
  cursor: pointer;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.app-deleting-btn {
  background-color: #ffe8e8;
}

.app-deleting-btn:hover {
  background-color: #be1515;
}

.app-editing-confirmation-btn {
  background-color: #ffe8e8;
  border: 2px solid #38d47e;
}

.app-editing-btn {
  background-color: #ffe8e8;
}
.app-editing-btn:hover {
  background-color: #7b428d;
}

.app-editing-confirmation-btn:hover {
  background-color: #38d47e;
}

.app-create-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.app-create-outline {
  background-color: #7b428d;
  font-size: 7rem;
  font-weight: bolder;
  min-height: 9rem;
  max-height: 12rem;
  border-radius: 1rem;
  cursor: pointer;
  height: 100%;
  width: 100%;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-create-btn {
  all: unset; /* Removes all default styling */
  width: 100%;
  border-radius: 1rem;
  height: 100%;
}
.app-create-btn:hover {
  background-color: #ab79ba;
}
